<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Some Website</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>We'l be right back</h1>
        <p>
            The site is currently being updated.
        </p>
    </body>
</html>